<div class="post">
  <div class="post-author-name" [innerHTML]="post.createdBy.username"></div>

  <!-- TIPS: [ngStyle]="{'background-image': url(...) }" -->
  <div class="post-author-photo"  [ngStyle]="{'background-image': 'url(post.createdBy.photoUrl)'}"></div>
  <div class="post-date" [innerHTML]="post.createdAt"></div>

  <div class="post-user-like">
    <i nz-icon nzType="heart" [nzTheme]="post.liked ? 'fill' : 'outline'" (click)="like()"></i>
  </div>

  <p class="post-text" [innerHTML]="post.message.text.content"></p>

  <!-- Itérer sur les "attachements" du message -->
  <div class="post-attachements" *ngFor="let element of post.message.attachements">
    <!-- Utiliser ngIf pour afficher le bon composant en fonction du type d'élément-->
    <div *ngIf="element.type == 'video'">
      <video controls [src]='element.url'></video>
    </div>
    <div *ngIf="element.type == 'audio'">
      <audio controls [src]='element.url'></audio>
    </div>
    <div *ngIf="element.type == 'image'">
      <img [src]='element.url'>
    </div>
    <div *ngIf="element.type == 'youtube'">
      <youtube-player
        #player
        videoId="element.videoId"
        (ready)="onReady($event)"
        (stateChange)="onStateChange($event)"
      ></youtube-player>

    </div>
  </div>
  <div #anchor></div>
</div>
